.seasonlinear{
    background-image: linear-gradient(to right, rgba(142, 202, 230, 1), rgba(142, 202, 230, 0.29));;
}
.scrollHorrizontal{
    animation: horizontalAnimation 30s linear infinite;
}
@keyframes horizontalAnimation {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}

.blackgoldscroll {
    overflow-y: scroll; /* or overflow: scroll; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    ::-webkit-scrollbar { display: none; } /* Chrome, Safari, Opera */
}

.logoblack{
    border: 20px solid ;
    border-top: 20px rgba(216, 15, 19, 1) solid;
    border-left: 20px rgba(216, 15, 19, 1) solid;
    border-bottom: 20px rgba(3, 5, 9, 1) solid;
    border-right: 20px rgba(3, 5, 9, 1) solid;
    transform: rotate(-45deg);
    animation: logoanimation 1s linear forwards;
}

@keyframes logoanimation {
    50%{
        border: 20px solid ;
        border-top: 20px rgba(216, 15, 19, 1) solid;
        border-left: 20px rgba(216, 15, 19, 1) solid;
        border-bottom: 20px rgba(3, 5, 9, 1) solid;
        border-right: 20px rgba(3, 5, 9, 1) solid;
    }
    100%{
        border: 0px solid ;
        border-top: 0px red solid;
        border-left: 0px red solid;
    }
}