.seasonlinear{
    background-image: linear-gradient(to right, rgba(142, 202, 230, 1), rgba(142, 202, 230, 0.29));;
}
.scrollHorrizontal{
    animation: horizontalAnimation 30s linear infinite;
}
@keyframes horizontalAnimation {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}

.blackgoldscroll {
    overflow-y: scroll; /* or overflow: scroll; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    ::-webkit-scrollbar { display: none; } /* Chrome, Safari, Opera */
}

.logoblack{
    opacity: 0;
    animation: logoanimation 1s linear forwards;
}

@keyframes logoanimation {
    to{
        border: 20px white solid ;
        opacity: 1;

    }
}