.swiper-pagination {
  position: relative;
  bottom: 0px; /* Move dots 20px lower */
  margin-top: 0px;
}

.swiper {
  background-color: white; /* Background color behind the dots */
  padding-bottom: 20px; /* Add space at the bottom for the dots */
}

.swiper-pagination-bullet-active {
  background: rgba(0, 122, 94, 1); /* e.g., #ff5722 or red */
}
option:hover{
  background-color: #00F;
}
.similar{
  transition: 13s;
}